.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #364fc7;
}

.salary {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #0f0f10;
}

.experience {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(15, 15, 16, 0.5);
}

.company {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(15, 15, 16, 0.5);
}

.formatBadge {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 9px;
  border-radius: 2px;
  color: #ffffff;
  background-color: #4263eb;
}

.city {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #0f0f10;
}

.primaryButton {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  border-radius: 4px;
  background-color: #0f0f10;
  color: #ffffff;
}

.secondaryButton {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  border-radius: 4px;
  background-color: rgba(15, 15, 16, 0.1);
  color: #0f0f10;
}
